html {
    scroll-behavior: smooth;
    height: 100%;
}

/* Parallax Start */

.parallax #about-us, .parallax #pricing, .now-showing {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100px;
    min-height: 100%;
} 
  
.parallax #about-us {
    /* background-image: url('../media/sectionone-parallax.jpg'); */
    background-color: #51585E;
    color: #FFFFFF;
    height: 600px;
}

.container {
    max-height: 100%;
}

.parallax #pricing {
    background-image: url('../media/sectiontwo-parallax.jpg');
    height: 400px;
}

.now-showing {
    /* background-image: url('../media/sectionthree-parallax.jpg'); */
    /* opacity: unset; */
    background-color: #51585E;
    color: #51585E;
    height: 600px; 
} 

/* Parallax End */

#header-logo {
    text-align: center;
}

nav {
    text-align: center;
}

.nav-links {
    position: sticky;
}

#nav-text {
    color: #FFF7E0;
}

.nav-seperator {
    height: 50px;
}

ul, li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Section style start */
section {
    text-align: center;
}

.section-seperator {
    height: 300px;
}

/* Section style end */

/* Movie panel start */

.container-fluid {
   margin: 0px auto;
}

/* Add position relative to the parent container */
.movie-panel {
    position: relative;
    background-color: #FFFFFF;
    width: 350px;
    height: 250px;
}

.movie-poster {
    position: absolute;
    margin: 25px;
    width: 110px;
    height: 200px;
}

.movie-title {
    position: absolute;
    top: 15px;
    right: 10px;
}

.movie-times {
    position: absolute;
    top: 50px;
    right: 35px;
}

/* Movie panel end */

/* Synopsis start */

.synopsis-panel {
    position: relative;
    background-color: #51585E;
    width: 100%;
    height: 400px;
    border-style: solid;
}

.synopsis-title {
    position: absolute;
    color: #FFFFFF;
    top: 50px;
    left: 30px;
}

.synopsis-description {
    position: absolute;
    color: #FFFFFF;
    text-align: left;
    top: 100px;
    left: 30px;
}

.synopsis-trailer {
    position: absolute;
    top: 50px;
    right: 30px;
}

.synopsis-booking {
    position: absolute;
    color: #FFFFFF;
    bottom: 70px;
    left: 30px;
}

.synopsis-booking-buttons {
    position: absolute;
    border-style: solid;
    bottom: 0px;
}

/* Synopsis end */

/* Footer start */

footer {
    border-radius: 100px;
}

.footer-seperator {
    height: 50px;
}

/* Footer end */

